<h1>Editando registro de chamado</h1>

<%= render "form", new_call: @new_call %>

<br>

<div>
  <%= link_to "mostrar este chamado", @new_call, :class => "btn btn-outline-secondary" %> |
  <%= link_to "voltar para todos os chamados", new_calls_path, :class => "btn btn-outline-warning" %>
</div>
