<p style="color: green"><%= notice %></p>

<div class="pb-3">
  <h1>Visualizar e registrar chamados</h1>
  <a type="button" class="btn btn-primary" href="/new_calls/new"> 
    criar um novo chamado
  </a>
</div>

<div id="new_calls" class="card">
  <% @new_calls.reverse_each do |new_call| %>
    <div class="card-body">
      <%= render new_call %>
      <p>
        <%= link_to new_call do%>
          <button type="button" class="btn btn-outline-success"> mostrar chamado </button>
        <% end %>
      </p>
    </div>
  <% end %>
</div>

<%
  require 'csv'

  file = "#{Rails.root}/public/data.csv"
  table = @new_calls.all;0

 if table.first
  CSV.open( file, 'w' ) do |writer|
      writer << table.first.attributes.map { |a,v| a }
      table.each do |s|
        writer << s.attributes.map { |a,v| v }
      end
    end
 end
%>