<p style="color: green"><%= notice %></p>

<h1>New calls</h1>

<div id="new_calls">
  <% @new_calls.each do |new_call| %>
    <%= render new_call %>
    <p>
      <%= link_to "Show this new call", new_call %>
    </p>
  <% end %>
</div>

<%= link_to "New new call", new_new_call_path %>
